<!DOCTYPE html>
<html ng-app="org.gradle.profiler.listener">

<head>
    <meta charset="utf-8">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

    <!-- Angular -->
    <script src="https://code.angularjs.org/1.6.6/angular.js"></script>

    <title>Gradle Enterprise Export API Listener for Gradle Profiler</title>

    <link rel="stylesheet" href="index.css" />
    <script src="index.js"></script>
    <script src="processor.js"></script>
</head>

<body ng-controller="MainController">
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Gradle cache performance tester</a>
        </div>
    </div>
</nav>
<div role="document" class="container" ng-view>
    <p>The cache performance tester is designed to run some incremental changes against your build and measure cache usage.</p>
<form name="form" class="form-horizontal">
<fieldset>

    <!-- Listen -->
    <div class="form-group">
        <label class="col-md-2 control-label">Listen to scans</label>
        <div class="col-md-6">
            <input name="listenUrl"
                ng-model="listenUrl"
                type="text"
                class="form-control"
                ng-required="true"
                ng-disabled="buildProcessor.started"
                placeholder="https://gradle-enterprise.example.com"
            />
            <small class="form-text text-muted">Captures build scans produced by the Gradle Profiler on the fly.</small>
        </div>
        <div class="col-md-2">
            <button type="button"
                class="btn btn-block btn-primary"
                ng-click="listen()"
                ng-disabled="buildProcessor.started"
                >
                <span>Start listening</span>
            </button>
        </div>
    </div>

    <!-- Process -->
    <div class="form-group">
        <label class="col-md-2 control-label">Process output</label>
        <div class="col-md-6">
            <textarea
                name="buildsToProcess"
                ng-model="buildsToProcess"
                class="form-control"
                rows="10"
                placeholder="  Scenario some-scenario using Gradle 4.5.1
  - Build scan for 'warm-up build #1' cleanup [clean]: https://gradle-enterprise.example.com/s/4hwbq4ixayzzw
  - Build scan for 'warm-up build #1' build [assemble]: https://gradle-enterprise.example.com/s/7elrv7ah3i4n2"
            ></textarea>
            <small class="form-text text-muted">Paste output from Gradle Profiler here and press 'Process'. I will pick out any build scan URLs in the text automatically.</small>
        </div>
        <div class="col-md-2">
            <button type="button"
                class="btn btn-block btn-warning"
                ng-click="process()"
                >
                <span>Process</span>
            </button>
            <button type="button"
                class="btn btn-block btn-danger"
                ng-click="buildsToProcess = ''"
                >
                <span>Clear</span>
            </button>
        </div>
    </div>


    <!-- Authenticated -->
    <div class="form-group">
        <label class="col-md-2 control-label">Authenticated connection</label>
        <div class="col-md-6">
            <input name="withCredentials"
                ng-model="withCredentials"
                type="checkbox"
                class="form-control"
                ng-required="true"
                ng-disabled="buildProcessor.started"
            />
            <small class="form-text text-muted">Check if the GE server requires HTTP basic authentication. Your browser must be logged in (just open any build scan in another tab before using this tool).</small>
        </div>
    </div>

</fieldset>
</form>

<div>
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th>Scenario</th>
                <th>Phase</th>
                <th>Number</th>
                <th>Step</th>
                <th>Tasks</th>
                <th>Build scan</th>
                <th>Total exec time</th>
                <th>Task exec time</th>
                <th>GC time</th>
                <th>Pack time</th>
                <th>Unpack time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="build in builds">
                <td title="'Scenario'" sortable="'scenario'">
                    <span>{{build.scenario}}</span>
                </td>
                <td title="'Phase'" sortable="'phase'">
                    <span>{{build.phase}}</span>
                </td>
                <td title="'Number'" sortable="'number'">
                    <span>{{build.number}}</span>
                </td>
                <td title="'Step'" sortable="'step'">
                    <span>{{build.step}}</span>
                </td>
                <td title="'Tasks'" sortable="'tasks'">
                    <span>{{build.tasks}}</span>
                </td>
                <td title="'Build scan'" sortable="'name'">
                    <a href="{{build.buildScan}}">{{build.buildScan}}</a>
                </td>
                <td title="'Execution time'" sortable="'executionTime'">
                    <span>{{build.executionTime}}</span>
                </td>

                <td title="'Task execution time'" sortable="'taskExecutionTime'">
                    <span>{{build.taskExecutionTime}}</span>
                </td>
                <td title="'GC time'" sortable="'gcTime'">
                    <span>{{build.gcTime}}</span>
                </td>
                <td title="'Pack time'" sortable="'packTime'">
                    <span>{{build.packTime}}</span>
                </td>
                <td title="'Unpack time'" sortable="'unpackTime'">
                    <span>{{build.unpackTime}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>
</body>
</html>
